<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.example.blog.model.User" alias="user"></typeAlias>
        <typeAlias type="com.example.blog.model.Blog" alias="blog"></typeAlias>
    </typeAliases>
<!--    TODO config mapper xml-->
    <mappers>
        <mapper resource="db/mybatis/mappers/BlogMapper.xml"/>
    </mappers>
</configuration>